In [1]:
import sqlite3

In [3]:
import sqlite3
import pandas as pd
# Create your connection.
cnx = sqlite3.connect('db.sqlite3')

df = pd.read_sql_query("SELECT * FROM app_opsemp", cnx)

In [4]:
df

   id    badge_id department  age  gender
0  11  1231223423     others   45    Male
1  12       21342     others   34    Male
2  13      547665     others   23  Female
3  14     9879656     others   34  Female
4  15     2892118     others   27    Male

In [ ]:
def read_sqlite(dbfile):
    import sqlite3
    from pandas import read_sql_query, read_sql_table

    with sqlite3.connect(dbfile) as dbcon:
        tables = list(read_sql_query("SELECT name FROM sqlite_master WHERE type='table';", dbcon)['name'])
        out = {tbl : read_sql_query(f"SELECT * from {tbl}", dbcon) for tbl in tables}

    return out

In [ ]:
list(read_sqlite("db.sqlite3"))[-1]

'app_student'